.plans {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
@media (max-width: 767px) {
  .plans {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin: 10px;
  }
}

.plans .box p {
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
}

.plans .box p i {
  left: -17px;
  top: 7px;
}

.plans .box ul li .help {
  margin-left: auto;
  margin-right: 5px;
  color: var(--gray-color);
}

.plans .box ul li:hover .green {
  color: var(--green-color);
  cursor: pointer;
}

.plans .box ul li:hover .blue {
  color: var(--blue-color);
  cursor: pointer;
}

.plans .box ul li:hover .orange {
  color: var(--orange-color);
  cursor: pointer;
}
