@media (max-width: 767px) {
  .drafts {
    flex-direction: column-reverse;
    align-items: normal;
  }
}

.drafts .draft-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.delete {
  position: absolute;
  right: 10px;
}

.delete:hover {
  cursor: pointer;
  color: var(--red-color);
}
/*************** End Wrapper Widgets => Darfts ********************/
